@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(235, 235, 235, 0.7);
}

.container {
  max-width: 1360px;
  margin: auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  background-color: #ecececc9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 4rem; /* Ajusta el tamaño del logo */
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Alinear el nav-list a la izquierda */
.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Los elementos de la navegación estarán a la izquierda */
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list li a {
  font-size: 1.1em;
  text-decoration: none;
  color: #1c1c1c;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #aa8a6c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* Íconos sociales */
.social-icons-nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons-nav a {
  display: inline-block;
  /* border: 2px solid #aa8a6c; */
  border-radius: 50%;
  padding: 7px; /* Reducir el padding de los iconos */
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons-nav a i {
  color: #aa8a6c;
  font-size: 1.3rem; /* Reducir el tamaño del ícono */
}

.social-icons-nav a:hover {
  background-color: #aa8a6c;
  transform: scale(1.1);
}

.social-icons-nav a:hover i {
  color: white;
}

/* Banner con img */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/img/img-fotosVF/flores6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 103%;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.banner-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Asegura que el contenido esté encima de las imágenes */
}

.banner h1 {
  font-size: 4.8rem;
  color: #aa8a6c;
  margin: 0 0 20px;
}

.banner h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 0 0 40px;
  font-style: oblique;
}

.cta-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #e4d1af; /* Color del botón */
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ccab89;
}

/* @keyframes slide {
  0% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo06.jpg");
  }
  33% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo04.jpg");
  }
  66% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo05.jpg");
  }
  100% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo06.jpg");
  }
} */

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0; /* Asegura que las imágenes de fondo estén detrás del contenido */
  animation: slide 15s infinite; /* Duración total del ciclo de animación */
}

/* Slider */
.slides-container {
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide h2 {
  letter-spacing: 2px;
  font-size: 14px;
  margin: 10px 0;
}

.slide p {
  font-size: 16px;
}

/* Sobre Nosotros */
.sobre-nosotros {
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.sobre-nosotros .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sobre-nosotros .text {
  flex: 1;
  max-width: 600px;
}

.sobre-nosotros .text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #1c1c1c;
  /* color: #333; */
}

.sobre-nosotros .text p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #666;
}

.sobre-nosotros .image {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.sobre-nosotros .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Diseños */
.card-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-section {
  padding: 110px 0; /* Espaciado interno */
  text-align: center;
}

.card-section h2 {
  font-size: 2.5em; /* Tamaño de fuente grande */
  margin-bottom: 75px; /* Margen inferior */
  text-align: center;
  color: #1c1c1c;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.card-item {
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Asegura que el tinte de color no se desborde */
  padding: 20px;
  text-align: center; /* Centrar el contenido de texto */
  background-color: #fff;
  border-radius: 10px; /* Opcional: para bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
  transition: all 0.3s;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-item img {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho de la card */
  border-radius: 8px;
  height: 200px; /* Mantiene la proporción de las imágenes */
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, 0.1); /* Color rojo con opacidad del 30% */
  mix-blend-mode: multiply; /* Mezcla el color con la imagen */
  pointer-events: none; /* Permite hacer clic en la imagen */
}

.card-item h3 {
  font-size: 1rem;
  color: #555;
  padding-top: 1rem;
}

.card-item p {
  font-size: 14px;
  color: #555;
  padding-top: 1.5rem;
}

.card-item .mp-btn {
  margin: 0 auto;
  padding-top: 30px;
}

/* Modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 60%;
  max-width: 600px;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  font-size: 40px;
  position: absolute;
  top: 5px; /* Posiciona la X fuera del modal */
  right: 5px; /* Posiciona la X fuera del modal */
  color: #fff;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Fondo semitransparente para el círculo */
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white; /* Opcional: Añadir un borde blanco */
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botones "Prev" y "Next" */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Posición del botón "Prev" */
.prev {
  left: 10px;
}

/* Posición del botón "Next" */
.next {
  right: 10px;
}

/* Cambia el color al pasar el cursor sobre los botones */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para el banner promocional con imagen */
.promo-banner {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta el tamaño para hacerlo más angosto */
  overflow: hidden;
  background-color: #f4f4f4; /* Si la imagen no cubre el 100%, un color de fondo */
  text-align: center;
}

.promo-banner img {
  max-width: 100%;
  height: auto; /* Asegúrate de que la imagen se ajuste */
  object-fit: cover; /* Para mantener proporciones */
}

/* Como trabajamos */
.como-trabajamos {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.como-trabajamos .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px; /* Espacio entre el texto y la imagen */
}

.como-trabajamos .image,
.como-trabajamos .text {
  flex: 1; /* Ocupan el mismo espacio */
}

.como-trabajamos .text {
  background-color: rgba(235, 235, 235, 0.5);
  padding: 1.7rem;
  margin: 0 auto;
  border-radius: 20px;
}

.como-trabajamos .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
}

.como-trabajamos .text h2 {
  color: #1c1c1c;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.como-trabajamos .text p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.btn-cta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

/* Estilos para la sección de contacto */
.contacto {
  background-color: #f9f9f9;
  padding: 80px 20px;
  text-align: center; /* Centrar todo el texto y los iconos */
}

.contacto .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contacto .text {
  padding: 1.7rem;
  margin: 0 auto;
}

.contacto .text h2 {
  color: #1c1c1c;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.contacto .text p {
  color: #1c1c1c;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.contacto .text-2 {
  background-color: #e4d1af;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-style: oblique;
}

.contact-icons {
  background-color: rgba(235, 235, 235);
  padding: 1.7rem;
  border-radius: 20px;
}

.contact-icons h2 {
  color: #1c1c1c;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

/* Estilos para los iconos de contacto */
.icons {
  display: flex;
  justify-content: center; /* Centra los iconos */
  gap: 30px;
}

.icons a {
  display: inline-block;
  border-radius: 50%;
  padding: 7px;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icons a i {
  color: #aa8a6c;
  font-size: 1.9rem;
}

.icons a:hover {
  transform: scale(1.2);
}

/* Footer */
.footer {
  background-color: #2b2b2b; /* Fondo oscuro para mayor contraste */
  color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.8em;
  color: #f5f5f5;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #ccab89;
  transform: scale(1.2); /* Efecto de zoom */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    padding: 20px 15px;
  }

  .abrir-menu {
    display: block;
    border: 0;
    font-size: 1.7rem;
    color: #1c1c1c;
    background-color: transparent;
    cursor: pointer;
  }

  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.7rem;
    color: #ececec;
    background-color: transparent;
    cursor: pointer;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 999;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
    gap: 2rem;
  }

  .nav-list li a {
    color: #ececec;
  }

  .social-icons-nav {
    margin-top: 1rem;
  }

  .social-icons-nav a {
    color: #ececec;
  }

  /* Banner */
  .banner h1 {
    font-size: 2.1rem;
  }

  .banner h2 {
    font-size: 1.4rem;
  }

  .cta-button {
    padding: 8px 8px;
    font-size: 1.5rem;
  }

  /* Sobre Nosotros */
  .sobre-nosotros .container {
    flex-direction: column;
  }

  .sobre-nosotros .text,
  .sobre-nosotros .image {
    max-width: 100%;
  }

  .sobre-nosotros .text {
    margin-bottom: 10px;
  }

  .sobre-nosotros .vm-text {
    display: none;
  }

  /* Slider */
  .slides-container {
    position: relative;
    width: 100%;
    height: 120px; /* Ajusta según la altura deseada */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slide:nth-child(1) {
    animation: fadeInOut 10s infinite;
  }

  .slide:nth-child(2) {
    animation: fadeInOut 10s infinite 3s;
  }

  .slide:nth-child(3) {
    animation: fadeInOut 10s infinite 6s;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .card-section h2 {
    font-size: 2em;
  }

  .card-item h3 {
    font-size: 1.3em;
  }

  /* Modal IMG */
  .modal-content {
    width: 90%;
    height: 70vh;
    margin: 25% auto;
    padding: 10px;
  }

  .modal-content img {
    height: 100%;
    object-fit: contain;
  }

  .close {
    font-size: 40px;
    position: absolute;
    top: 5px; /* Posiciona la X fuera del modal */
    right: 5px; /* Posiciona la X fuera del modal */
    color: #fff;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Fondo semitransparente para el círculo */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid white; /* Opcional: Añadir un borde blanco */
  }

  .prev,
  .next {
    padding: 10px;
    font-size: 12px;
  }

  /* Como Trabajamos */
  .como-trabajamos .container {
    flex-direction: column;
    text-align: center;
  }

  .como-trabajamos .text h2 {
    margin-bottom: 20px;
    text-align: start;
  }
  .como-trabajamos .text {
    margin-bottom: 20px;
    text-align: start;
  }

  .como-trabajamos .vm-text {
    display: none;
  }

  /* Contacto */
  .contacto {
    padding: 50px 15px; /* Reduce el padding en móviles */
  }

  .contacto .container {
    gap: 20px; /* Reduce el espacio entre secciones */
  }

  .contacto .text h2 {
    font-size: 1.8rem; /* Reduce el tamaño del título */
    margin-bottom: 2rem;
  }

  .contacto .text p {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-bottom: 10px;
  }

  .contacto .text-2 {
    padding: 0.8rem 2rem; /* Ajusta el padding */
    font-size: 1rem; /* Reduce el tamaño del texto */
  }

  .contact-icons h2 {
    font-size: 1.8rem; /* Reduce el tamaño del título */
    margin-bottom: 10px;
  }

  .text-vm-3 {
    display: none;
  }

  .icons {
    gap: 15px; /* Reduce el espacio entre iconos */
  }

  .icons a i {
    font-size: 1.6rem; /* Reduce el tamaño de los iconos */
  }

  .footer-content {
    font-size: 0.7rem;
    padding: 0 10px;
  }
}
