@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(235, 235, 235, 0.7);
}

.container {
  max-width: 1360px;
  margin: auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 130px;
  background-color: #ecececc9;
  position: fixed; /* Fijar el header */
  width: 100%; /* Asegurar que ocupe todo el ancho de la página */
  top: 0; /* Fijar en la parte superior de la página */
  z-index: 1000; /* Asegurar que el header esté por encima de otros elementos */
}

.logo {
  max-width: 5rem;
  border-radius: 50%;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* Banner con img */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 0 20px;
  position: relative; /* Necesario para el posicionamiento absoluto de la capa de imágenes */
  overflow: hidden; /* Oculta el contenido desbordado */
}

.banner-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Asegura que el contenido esté encima de las imágenes */
}

.banner h1 {
  font-size: 4rem;
  color: #aa8a6c;
  margin: 0 0 20px;
}

.banner p {
  font-size: 1.4rem;
  margin: 0 0 20px;
}

.cta-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #e4d1af; /* Color del botón */
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ccab89;
}

@keyframes slide {
  0% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo06.jpg");
  }
  33% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo04.jpg");
  }
  66% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo05.jpg");
  }
  100% {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/img/img-fondos/fondo06.jpg");
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0; /* Asegura que las imágenes de fondo estén detrás del contenido */
  animation: slide 15s infinite; /* Duración total del ciclo de animación */
}

/* Slider */
.slides-container {
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide h2 {
  letter-spacing: 2px;
  font-size: 14px;
  margin: 10px 0;
}

.slide p {
  font-size: 16px;
}

/* Sobre Nosotros */
.sobre-nosotros {
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.sobre-nosotros .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sobre-nosotros .text {
  flex: 1;
  max-width: 600px;
}

.sobre-nosotros .text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #aa8a6c;
  /* color: #333; */
}

.sobre-nosotros .text p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #666;
}

.sobre-nosotros .image {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.sobre-nosotros .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Diseños */
.card-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-section {
  padding: 110px 0; /* Espaciado interno */
  text-align: center;
}

.card-section h2 {
  font-size: 2.5em; /* Tamaño de fuente grande */
  margin-bottom: 75px; /* Margen inferior */
  text-align: center;
  color: #aa8a6c;
  /* color: #555;  */
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  justify-content: center; /* Centrar las tarjetas */
  max-width: 1000px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.card-item {
  position: relative;
  overflow: hidden; /* Asegura que el tinte de color no se desborde */
  padding: 20px;
  text-align: center; /* Centrar el contenido de texto */
  background-color: #fff;
  border-radius: 10px; /* Opcional: para bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
  transition: all 0.3s;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-item img {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho de la card */
  border-radius: 8px;
  height: 200px; /* Mantiene la proporción de las imágenes */
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, 0.1); /* Color rojo con opacidad del 30% */
  mix-blend-mode: multiply; /* Mezcla el color con la imagen */
  pointer-events: none; /* Permite hacer clic en la imagen */
}

.card-item h3 {
  font-size: 1rem;
  color: #555;
  padding-top: 1rem;
}
.card-item p {
  font-size: 14px;
  color: #555;
  padding-top: 1.5rem;
}

/* Como trabajamos */
.como-trabajamos {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.como-trabajamos .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px; /* Espacio entre el texto y la imagen */
}

.como-trabajamos .image,
.como-trabajamos .text {
  flex: 1; /* Ocupan el mismo espacio */
}

.como-trabajamos .text {
  background-color: rgba(235, 235, 235, 0.5);
  padding: 1.7rem;
  margin: 0 auto;
  border-radius: 20px;
}

.como-trabajamos .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
  filter: grayscale(50%) sepia(20%) brightness(0.8) contrast(1.2); /* Aplica efectos de filtro */
}

.como-trabajamos .text h2 {
  color: #aa8a6c;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.como-trabajamos .text p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.btn-cta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

/* Formulario */
.contacto {
  padding: 60px 0;
  background-color: #f0f0f0;
}

.contacto h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #aa8a6c;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  align-self: center;
  display: inline-block;
  background-color: #e4d1af;
  color: #333;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ccab89;
}

/* Medios de Pago */
#pagos-banner {
  background-color: #f9f9f9; /* Color de fondo del banner */
  padding: 50px 20px; /* Espaciado alrededor del contenido */
  text-align: center; /* Centra el texto */
}

#pagos-banner h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
  color: #333; /* Color del texto del título */
  font-size: 24px; /* Tamaño de la fuente del título */
  font-weight: bold; /* Negrita para el título */
}

.medios-de-pago {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.medios-de-pago img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  font-size: 1em;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #fff;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ccab89; /* Color de hover */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #ecececc9;
    position: fixed; /* Fijar el header */
    width: 100%; /* Asegurar que ocupe todo el ancho de la página */
    top: 0; /* Fijar en la parte superior de la página */
    z-index: 1000; /* Asegurar que el header esté por encima de otros elementos */
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #6d1616;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ececec;
  }

  /* Banner */
  .banner h1 {
    font-size: 2.5em;
  }

  .banner p {
    font-size: 1em;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  /* Sobre Nosotros */
  .sobre-nosotros .container {
    flex-direction: column;
  }

  .sobre-nosotros .text,
  .sobre-nosotros .image {
    max-width: 100%;
  }

  .sobre-nosotros .text {
    margin-bottom: 30px;
  }

  .sobre-nosotros .vm-text {
    display: none;
  }


  .sobre-nosotros .image {
    display: none;
  }

  /* Slider */
  .slides-container {
    position: relative;
    width: 100%;
    height: 120px; /* Ajusta según la altura deseada */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slide:nth-child(1) {
    animation: fadeInOut 10s infinite;
  }

  .slide:nth-child(2) {
    animation: fadeInOut 10s infinite 3s;
  }

  .slide:nth-child(3) {
    animation: fadeInOut 10s infinite 6s;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .card-section h2 {
    font-size: 2em;
  }

  .card-item h3 {
    font-size: 1.3em;
  }

  .como-trabajamos .container {
    flex-direction: column;
    text-align: center;
  }

  .como-trabajamos .text h2 {
    margin-bottom: 20px;
    text-align: start;
  }
  .como-trabajamos .text {
    margin-bottom: 20px;
    text-align: start;
  }

  .como-trabajamos .vm-text {
    display: none;
  }

  .como-trabajamos .image {
    display: none;
  }

  .contacto h2 {
    font-size: 2em;
  }

  .contact-form {
    padding: 20px;
  }

  .form-group label {
    font-size: 1em;
  }

  button[type="submit"] {
    padding: 8px 16px;
    font-size: 1em;
  }

  .medios-de-pago {
    flex-direction: column;
    align-items: center;
  }

  .medios-de-pago img {
    max-width: 300px;
  }

  .footer-content {
    font-size: 0.7rem;
    padding: 0 20px;
  }
}
