@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(235, 235, 235, 0.7);
}

.container {
  max-width: 1360px;
  margin: auto;
  padding: 0 15px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 130px;
  background-color: #ecececc9;
}

.logo {
  max-width: 5rem;
  border-radius: 50%;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* Banner Inicio */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/img-fondos/fondo04.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.banner-content {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 20px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 3em;
  margin: 0 0 20px;
}

.banner p {
  font-size: 1.2em;
  margin: 0 0 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc00; /* Color del botón */
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e6b800;
}

/* Slider */
.slides-container {
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide h2 {
  letter-spacing: 2px;
  font-size: 14px;
  margin: 10px 0;
}

.slide p {
  font-size: 16px;
}

/* Sobre Nosotros */
.sobre-nosotros {
  padding: 80px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.sobre-nosotros .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sobre-nosotros h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.sobre-nosotros p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  text-align: center;
}

/* Diseños */
.card-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-section {
  padding: 110px 0; /* Espaciado interno */
  text-align: center;
}

.card-section h2 {
  font-size: 2.5em; /* Tamaño de fuente grande */
  margin-bottom: 75px; /* Margen inferior */
  text-align: center;
  color: #555; /* Color de texto oscuro */
}

.card-content {
  display: grid; /* Mostrar en formato de cuadrícula */
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Columnas adaptables */
  gap: 30px; /* Espacio entre tarjetas */
  justify-content: center; /* Centrar las tarjetas */
}

.card-item {
  background-color: #fff; /* Fondo blanco para cada tarjeta */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s;
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item img {
  width: 100%; /* Ancho completo para la imagen */
  height: 200px; /* Altura fija para las imágenes */
  object-fit: cover;
  border-radius: 8px; /* Bordes redondeados para la imagen */
  margin-bottom: 15px; /* Margen inferior */
}

.card-item h3 {
  font-size: 1.5em;
  color: #555;
}
.card-item p {
  font-size: 14px;
  color: #555;
  padding-top: 1.5rem;
}

/* Como trabajamos */
.como-trabajamos {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.como-trabajamos .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px; /* Espacio entre el texto y la imagen */
}

.como-trabajamos .image,
.como-trabajamos .text {
  flex: 1; /* Ocupan el mismo espacio */
}

.como-trabajamos .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}

.como-trabajamos .text h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.como-trabajamos .text p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.btn-cta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

/* Formulario */
.contacto {
  padding: 60px 0;
  background-color: #f0f0f0;
  /* text-align: center; */
}

.contacto h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  align-self: center;
  display: inline-block;
  background-color: #ffcc00;
  color: #333;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #e6b800;
}

/* Medios de Pago */
#pagos-banner {
  background-color: #f9f9f9; /* Color de fondo del banner */
  padding: 50px 20px; /* Espaciado alrededor del contenido */
  text-align: center; /* Centra el texto */
}

#pagos-banner h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
  color: #333; /* Color del texto del título */
  font-size: 24px; /* Tamaño de la fuente del título */
  font-weight: bold; /* Negrita para el título */
}

.medios-de-pago {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.medios-de-pago img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #908d8d;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  font-size: 1em;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #fff;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc00; /* Color de hover */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ececec;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner p {
    font-size: 1em;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .sobre-nosotros {
    padding: 60px 0;
  }

  .sobre-nosotros h2 {
    font-size: 2em;
  }

  .sobre-nosotros p {
    font-size: 16px;
  }

  .slides-container {
    position: relative;
    width: 100%;
    height: 120px; /* Ajusta según la altura deseada */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slide:nth-child(1) {
    animation: fadeInOut 10s infinite;
  }

  .slide:nth-child(2) {
    animation: fadeInOut 10s infinite 3s;
  }

  .slide:nth-child(3) {
    animation: fadeInOut 10s infinite 6s;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .card-section h2 {
    font-size: 2em;
  }

  .card-item h3 {
    font-size: 1.3em;
  }

  .como-trabajamos .container {
    flex-direction: column;
    text-align: center;
  }

  .como-trabajamos .text {
    margin-bottom: 20px;
  }

  .como-trabajamos .image {
    display: none;
  }

  .contacto h2 {
    font-size: 2em;
  }

  .contact-form {
    padding: 20px;
  }

  .form-group label {
    font-size: 1em;
  }

  button[type="submit"] {
    padding: 8px 16px;
    font-size: 1em;
  }

  .medios-de-pago {
    flex-direction: column;
    align-items: center;
  }

  .medios-de-pago img {
    max-width: 300px;
  }

  .footer-content {
    font-size: 0.7rem;
    padding: 0 20px;
  }
}

/* @keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
} */
